[submodule "fdev-ids"]
	path = fdev-ids
	url = https://github.com/EDCD/FDevIDs.git
[submodule "journal-schemas"]
	path = journal-schemas
	url = https://github.com/jixxed/ed-journal-schemas.git
[submodule "ed-journals"]
	path = ed-journals
	url = https://github.com/adam-drewery/ed-journals.git
